
.navbar{
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 25px;
  font-weight: 500;
  background-color: #31906a;
  color: white;
}

.navbar ul{
  list-style-type: none;
}


.navbar ul li a{
  color: white;
}
